body {
  font-family: "Drive";
  font-size: 16px;
  /* set your base font size for responsive design */
  font-weight: 500;
  background: url(/src/images/background.png)
}

/* FONT */
.nav__website-name-mobile,
.article__category,
.article__time,
.article__title {
  text-transform: uppercase;
  color: #5a4a4a
}

.nav__website-name-mobile,
.article__category,
.article__time,
.aside__link,
.main__breadcrumb,
footer {
  font-family: "WeDrive"
}

/* FONT END */

/* NAVIGATION > 800px */

/*
* Hide checkbox input for Menu Open/close 
* on mobile view
* 
*/

#nav__check {
  display: none;
}

/* Hide checkbox END */

.nav__menu-mobile-btn {
  display: none
}

.nav__website-name-mobile {
  display: none;
  font-size: 1.4em;
  font-weight: 900;
  line-height: 20px;
  margin-bottom: .2em
}

.nav__header {
  float: left;
  display: inline
}

.nav__title {
  display: inline-block;
  font-size: 22px;
  padding: 0 10px 10px
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1em;
  font-size: .9em;
  color: #fff;
  text-transform: uppercase;
  line-height: 3em;
  margin-bottom: 3em
}

.nav__links-buttons {
  display: inline-block;
  padding: 1em;
  margin: 0 .5em .5em 0;
  font-size: .8rem;
  line-height: .2em;
  color: #5a4a4a;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .5)
}

.links-buttons--selected,
.nav__links-buttons:hover {
  color: #fff;
  background-color: #5a4a4a
}

.links-buttons--selected {
  font-weight: 600
}

.nav__menu-close,
.nav__menu-icon {
  width: 25px;
  display: none;
  margin-bottom: 5px;
  border-radius: 3px
}

.nav__menu-close {
  width: 1.5em;
  height: 1.5em
}

/* NAVIGATION END */


.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.main__breadcrumb {
  width: 100%;
  margin: auto;
  max-width: 900px;
  color: #5a4a4a;
  font-size: .8em;
  padding-bottom: .3em
}

/* ARTICLE > 800 px */
.article,
.article .article__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article {
  max-width: 900px;
  margin: auto auto 2em
}

.article .article__image {
  -o-object-fit: cover;
  object-fit: cover
}

.article .article__content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1em 2em;
  background-color: #fff
}

.article__time {
  font-size: .8em;
  font-weight: 300;
  margin-left: auto
}

.article__title {
  padding-right: 2em
}

.article_title {
  font-size: 1.4em;
  font-weight: 900;
  line-height: 20px;
  margin-bottom: -.2em
}

.article__text {
  font-size: 1em;
  font-weight: 300;
  line-height: 20px;
  color: #615c5c
}

.article__categories,
.article__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.article__footer {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.article__categories {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 1em
}

.article__category {
  padding: .8em;
  margin: .5em .5em .5em 0;
  font-size: .7em;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  background-color: #f1f1f1
}

.article__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-left: auto
}

.article__social-icon {
  background-color: #ddd;
  height: 1.5em;
  margin-left: .5em;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(.175, .885, .32, 1.275);
  -o-transition: all 250ms cubic-bezier(.175, .885, .32, 1.275);
  transition: all 250ms cubic-bezier(.175, .885, .32, 1.275);
  -moz-transition: all 250ms cubic-bezier(.175, .885, .32, 1.275);
  -ms-transition: all 250ms cubic-bezier(.175, .885, .32, 1.275);
}

.article__social-icon:hover {
  background-color: #5a4a4a;
  color: #fff;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}

/*
* Article : Custom bottom decoration.
*/

.article:nth-of-type(odd) {
  background-image: url(/src/images/pink-triangle.png);

  /*  repeat background only on horizontal axis */
  background-repeat: repeat-x;
  /*  
  *   property sets the initial position for each background image.
  *   The position is relative to the position layer set by background-origin.
  *   https://developer.mozilla.org/en-US/docs/Web/CSS/background-position
  */
  background-position: bottom;

  /* padding-box The background is positioned relative to the padding box.*/
  background-origin: padding-box;

  /* 
  *  rounded size for background image height 11px  https://www.w3schools.com/tags/ref_pxtoemconversion.asp 
  *  16px = 1em, 11 px = 0.6875em , 0.69em for rounded value
  */
  padding-bottom: .69em
}

/* shortened version version off code :)*/
.article:nth-of-type(even) {
  background: url(/src/images/blue-triangle.png) repeat-x bottom padding-box;
  padding-bottom: .69em
}

/* Article : Custom bottom decoration. END /*

/* ARTICLE END */

/* ASIDE > 800px */
.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 2em auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.aside__link {
  padding: 0.5em;
  margin: 0 .5em;
  color: #fff;
  font-size: .9rem;
  font-weight: 700;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #a0a0a0
}

.link--selected {
  background-color: #5a4a4a;
  color: #fff
}

/* ASIDE END */


/* FOOTER */
.footer__copyright,
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.footer {
  border-top: 1px solid #5a4a4a;
  color: #5a4a4a;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .5em 0;
  font-size: .8em;
  width: 100%;
  max-width: 900px;
  margin: auto
}

.footer__copyright {
  font-weight: 600;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.footer__copyright-subtitle,
.footer__nav {
  margin-left: auto;
  color: #a0a0a0;
  font-size: .8em
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1em
}

.footer__link {
  color: #5a4a4a;
  font-size: 1em;
  padding: 0 1em;
  text-decoration: none
}

/* FOOTER END */



/* 
* TABLET VIEW
* Image go on top of an article Tablet & Mobile View 
* (only desktop view >800PX image go on left of the article)
*/
@media (max-width:800px) {
  .main {
    width: 90%
  }

  .article-content,
  article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* image go on top of the flexbox */
    height: 100%
  }

  .article {
    max-width: 100%;
    margin-bottom: 2em
  }

  .article-content {
    width: 100%;
    padding: 1em;
    background-color: #fff
  }

  .content-date {
    display: block
  }

  /*
  * FOOTER
  */
  .footer {
    flex-direction: column-reverse;
  }

  .footer__nav {
    margin-left: 0;
  }

  .footer__copyright {
    margin: 2.5em auto;
    font-size: 1em;
  }

  /* FOOTER */
}

/* 
* MOBILE VIEW
* Replace navigation buttons by Hamburger Menu.
* Replace footer flex box flex direction : Column-reverse
*/

@media (max-width:640px) {
  /* NAV  */

  .nav__website-name-mobile {
    display: block;
    position: absolute;
    top: 40px;
    left: 89px;
  }

  .nav__menu-label {
    font-size: .8em;
    color: #5a4a4a;
  }

  .header {
    margin-bottom: 1em;
  }

  .header__logo {
    height: 100px
  }

  .nav {
    display: flex;
    height: 100px;
    width: 100%;
  }

  .nav__menu-mobile-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 5px;
  }

  .nav__label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px
  }

  .nav__links {
    position: absolute;
    display: block;
    width: 50%;
    padding-top: 0;
    padding-right: 1em;
    margin-right: 2.5em;
    color: #5a4a4a;
    background-color: #fff;
    overflow: hidden;
    /*  position from .nav elements */
    top: 70px;
    right: 0;
  }

  .nav__links-buttons {
    display: block;
    width: 100%;
    border-radius: 0
  }

  /* Input not ckeck hide nav links */

  #nav__check:not(:checked)~.nav__links {
    height: 0
      /* nav_links re-take  original size when #nav_check is checked. */
  }


  /* #nav__check:checked~*.nav__links {} */


  /* Input not checked display hamburger menu */
  #nav__check:not(:checked)~* .nav__menu-icon {
    display: block
  }

  /* Input not checked hide hamburger menu */
  #nav__check:checked~* .nav__menu-icon {
    display: none
  }

  /* Input checked display Close menu button */
  #nav__check:checked~* .nav__menu-close {
    display: block
  }

  /* Input checked hide Close menu button */
  #nav__check:not(:checked)~* .nav__menu-close {
    display: none
  }

  /* NAV END */
}