*,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

#nav__check,
.nav__menu-mobile-btn {
  display: none
}

body {
  font-family: "Drive";
  font-weight: 500;
  background: url(/src/images/background.png)
}

.nav__header {
  float: left;
  display: inline
}

.nav__title {
  display: inline-block;
  font-size: 22px;
  padding: 0 10px 10px
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1em;
  font-size: .9em;
  color: #fff;
  text-transform: uppercase;
  line-height: 3em;
  margin-bottom: 3em
}

.nav__links-buttons {
  display: inline-block;
  height: 2em;
  padding: 1em;
  margin: 0 .5em .5em 0;
  font-size: .8rem;
  line-height: .2em;
  color: #5a4a4a;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .5)
}

.links-buttons--selected,
.nav__links-buttons:hover {
  color: #fff;
  background-color: #5a4a4a
}

.links-buttons--selected {
  font-weight: 600
}

.nav__menu-close,
.nav__menu-icon {
  display: none;
  width: 3em;
  height: 3em;
  margin-bottom: 5px;
  border-radius: 3px
}

.nav__menu-close {
  width: 1.5em;
  height: 1.5em
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.main__breadcrumb {
  width: 100%;
  margin: auto;
  max-width: 900px;
  color: #5a4a4a;
  font-size: .8em;
  padding-bottom: .3em
}

.article,
.article .article__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.article {
  max-width: 900px;
  background-color: #0f0;
  margin: auto auto 2em
}

.article .article__image {
  -o-object-fit: cover;
  object-fit: cover
}

.article .article__content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1em 2em;
  background-color: #fff
}

.article__category,
.article__time,
.article__title {
  text-transform: uppercase;
  color: #5a4a4a
}

.article__category,
.article__time,
.aside__link,
.main__breadcrumb,
footer {
  font-family: "WeDrive"
}

.article__time {
  font-size: .8em;
  font-weight: 300;
  margin-left: auto
}

.article__text,
.article__title {
  padding-right: 2em
}

.article_title {
  font-size: 1.4em;
  font-weight: 900;
  line-height: 20px;
  margin-bottom: -.2em
}

.article__text {
  font-size: 1em;
  font-weight: 300;
  line-height: 20px;
  color: #615c5c
}

.article__categories,
.article__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.article__footer {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.article__categories {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 1em
}

.article__category {
  height: 1.5em;
  padding: .8em;
  margin: 0 .5em .5em 0;
  font-size: .7em;
  line-height: 1px;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  background-color: #f1f1f1
}

.article__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-left: auto
}

.article__social-icon {
  background-color: #ddd;
  height: 1.5em;
  margin-left: .5em;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(.175, .885, .32, 1.275);
  -o-transition: all 250ms cubic-bezier(.175, .885, .32, 1.275);
  transition: all 250ms cubic-bezier(.175, .885, .32, 1.275)
}

.article__social-icon:hover {
  background-color: #5a4a4a;
  color: #fff;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 2em auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.aside__link {
  height: 2em;
  padding: 1em;
  margin: 0 .5em .5em 0;
  font-size: .9rem;
  line-height: .2em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #a0a0a0
}

.link--selected {
  background-color: #5a4a4a;
  color: #fff
}

.footer__copyright,
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.footer {
  border-top: 1px solid #5a4a4a;
  color: #5a4a4a;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .5em 0;
  font-size: .8em;
  width: 100%;
  max-width: 900px;
  margin: auto
}

.footer__copyright {
  font-weight: 600;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.footer__copyright-subtitle,
.footer__nav {
  margin-left: auto;
  color: #a0a0a0;
  font-size: .8em
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1em
}

.footer__link {
  color: #5a4a4a;
  font-size: 1em;
  padding: 0 1em;
  text-decoration: none
}

.article:nth-of-type(odd) {
  background: url(/src/images/pink-triangle.png) repeat-x bottom padding-box;
  padding-bottom: .68em
}

.article:nth-of-type(even) {
  background: url(/src/images/blue-triangle.png) repeat-x bottom padding-box;
  padding-bottom: .68em
}

@media (max-width:800px) {
  .header {
    margin-bottom: 4em
  }

  .header__logo {
    height: 100px
  }

  .nav {
    height: 50px;
    width: 100%;
    position: relative;
    -webkit-animation: fadeIn ease .8s;
    animation: fadeIn ease .8s
  }

  @ -webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  .nav__menu-mobile-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 2em
  }

  .nav__label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px
  }

  .nav__label:hover {
    cursor: pointer
  }

  .nav__links {
    position: absolute;
    display: block;
    width: 50%;
    padding-top: 0;
    margin-right: 2.5em;
    color: #5a4a4a;
    background-color: #fff;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    overflow-y: hidden;
    top: 50px;
    right: 0
  }

  .nav__links-buttons {
    display: block;
    width: 100%;
    border-radius: 0
  }

  #nav__check:not(:checked)~.nav__links {
    height: 0
  }

  #nav__check:checked~.nav__links {
    overflow-y: hidden
  }

  #nav__check:not(:checked)~* .nav__menu-icon {
    display: block
  }

  #nav__check:checked~* .nav__menu-icon {
    display: none
  }

  #nav__check:checked~* .nav__menu-close {
    display: block
  }

  #nav__check:not(:checked)~* .nav__menu-close {
    display: none
  }

  .main {
    width: 90%
  }

  .article-content,
  article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
  }

  .article {
    max-width: 100%;
    margin-bottom: 2em
  }

  .article-content {
    width: 100%;
    padding: 1em;
    background-color: #fff
  }

  .content-date {
    display: block
  }

  .footer__copyright-subtitle {
    margin-right: auto;
  }
}